/* .navbar-brand {
    background-color: #af9f30;
} */

.footer {
    color: #17202A;
    border-top: 1px solid #af9f30;
    height: 60px;  /* footer height */
    padding-top: 20px;
    margin-top: 20px;
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;
}
/* links */
a {
    color: #af9f30;
  }

